.header {
  height: 35vw;
  margin: 10px auto;
  background: url("/public/photo1.jpg") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 1rem;
}
.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 50%;
  bottom: 10%;
  left: 4vw;
  gap: 1.5vw;
}
